// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #56E4B5;
  --ion-color-primary-rgb: 86, 228, 181;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4fd0a2;
  --ion-color-primary-tint: #68e8bc;
}
